html, body {
    height: 100%;
    color: greenyellow;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
}

ul {
    border: 3px solid yellowgreen;
    border-radius: 8px;
    background-color:navy;
}

#logo {
    margin: 0;
}

.navItems {
    display: flex;
    list-style-type: none;
    padding: 2px;
    align-items: center;
    margin: 2px;
    margin-left: auto;
}

li {
    padding: 10px;
    color: greenyellow;
    text-transform: uppercase;
    
}

a {
    text-decoration: none;
    color: greenyellow;
    font-weight: 400;
}

.Me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row;
    animation: hexcolors 5s infinite alternate;

}

#AboutMe img {
    width: 20%;
    height: 20%;
    align-items: right;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid greenyellow;
    
}

#AboutMe h2 {
    text-align: center;
}

.Me p {
    width: 40%;
    height: 40%;
}

footer{
    margin: 0;
    text-align: center;
    position:relative;
}
#Projects {
    align-items: center;
    justify-content: center;
    margin: 0;
    margin: auto;
}
details {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}
details img {
    width: 40%;
    height: 40%;
}
details {
    cursor: pointer;
}


@keyframes hexcolors {
  0% {
    color: #fe5e41;
  }
  20% {
    color: #646e68;
  }
  40% {
    color: #d8f1a0;
  }
  60% {
    color: #0075f2;
  }
  80% {
    color: #c7a27c;
  }
  100% {
    color: #a23b72;
  }
}

#btn {
    background-color: red;
    color: black;
    border: solid 3px yellowgreen;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
    animation: hexcolors 5s infinite alternate;

}